openapi: 3.0.1
info:
  title: Toloka Assignments Training API
  description: The Toloka API lets you build scalable, fully automated human-in-the-loop data-labeling and human-data pipelines on the Toloka crowdsourcing platform. You manage projects, pools, training pools, tasks, task suites, and assignments; collect and review Toloker responses; issue bonuses; manage skills and attachments; track asynchronous operations; and subscribe to event webhooks. Most write operations that touch large batches of tasks or suites run asynchronously and return an Operation you poll to completion.
  termsOfService: https://toloka.ai/legal/terms_of_service/
  contact:
    name: Toloka Support
    email: support@toloka.ai
  version: '1.0'
servers:
- url: https://api.toloka.ai/api
  description: Toloka production API (api.toloka.ai)
- url: https://toloka.dev/api
  description: Toloka production API (toloka.dev)
security:
- OAuthToken: []
tags:
- name: Training
  description: Create and manage training pools used to qualify Tolokers.
paths:
  /v1/trainings:
    get:
      operationId: getTrainings
      tags:
      - Training
      summary: Get the list of training pools
      parameters:
      - name: project_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of training pools.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingSearchResult'
    post:
      operationId: createTraining
      tags:
      - Training
      summary: Create a training pool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Training'
      responses:
        '201':
          description: The created training pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Training'
  /v1/trainings/{id}/open:
    post:
      operationId: openTraining
      tags:
      - Training
      summary: Open a training pool
      parameters:
      - $ref: '#/components/parameters/PathId'
      responses:
        '202':
          description: An asynchronous open operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        maximum: 100000
      description: Maximum number of results per page.
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Object identifier.
  schemas:
    Training:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        project_id:
          type: string
        private_name:
          type: string
        may_contain_adult_content:
          type: boolean
        assignment_max_duration_seconds:
          type: integer
        mix_tasks_in_creation_order:
          type: boolean
        shuffle_tasks_in_task_suite:
          type: boolean
        training_tasks_in_task_suite_count:
          type: integer
        task_suites_required_to_pass:
          type: integer
        retry_training_after_days:
          type: integer
        status:
          type: string
          enum:
          - OPEN
          - CLOSED
          - ARCHIVED
          - LOCKED
          readOnly: true
      required:
      - project_id
      - private_name
    Operation:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        type:
          type: string
          description: Operation type, e.g. POOL.OPEN, TASK.BATCH_CREATE.
        status:
          type: string
          enum:
          - PENDING
          - RUNNING
          - SUCCESS
          - FAIL
        submitted:
          type: string
          format: date-time
        started:
          type: string
          format: date-time
        finished:
          type: string
          format: date-time
        progress:
          type: integer
        parameters:
          type: object
          additionalProperties: true
        details:
          type: object
          additionalProperties: true
    TrainingSearchResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Training'
        has_more:
          type: boolean
  securitySchemes:
    OAuthToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass your Toloka OAuth token (or API key) in the Authorization header as `Authorization: OAuth <token>` (legacy) or `Authorization: ApiKey <key>`.'
