openapi: 3.0.1
info:
  title: Toloka Assignments Task Suites API
  description: The Toloka API lets you build scalable, fully automated human-in-the-loop data-labeling and human-data pipelines on the Toloka crowdsourcing platform. You manage projects, pools, training pools, tasks, task suites, and assignments; collect and review Toloker responses; issue bonuses; manage skills and attachments; track asynchronous operations; and subscribe to event webhooks. Most write operations that touch large batches of tasks or suites run asynchronously and return an Operation you poll to completion.
  termsOfService: https://toloka.ai/legal/terms_of_service/
  contact:
    name: Toloka Support
    email: support@toloka.ai
  version: '1.0'
servers:
- url: https://api.toloka.ai/api
  description: Toloka production API (api.toloka.ai)
- url: https://toloka.dev/api
  description: Toloka production API (toloka.dev)
security:
- OAuthToken: []
tags:
- name: Task Suites
  description: Upload and retrieve task suites (groups of tasks shown together).
paths:
  /v1/task-suites:
    get:
      operationId: getTaskSuites
      tags:
      - Task Suites
      summary: Get the list of task suites
      parameters:
      - name: pool_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of task suites.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSuiteSearchResult'
    post:
      operationId: createTaskSuites
      tags:
      - Task Suites
      summary: Create task suites
      description: Create one or many task suites. Supports async_mode for batches.
      parameters:
      - $ref: '#/components/parameters/AsyncMode'
      - name: skip_invalid_items
        in: query
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/TaskSuite'
              - type: array
                items:
                  $ref: '#/components/schemas/TaskSuite'
      responses:
        '201':
          description: The created task suite(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSuiteBatchResult'
        '202':
          description: An asynchronous task-suite-creation operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
  /v1/task-suites/{id}:
    get:
      operationId: getTaskSuite
      tags:
      - Task Suites
      summary: Get a task suite
      parameters:
      - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: The requested task suite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSuite'
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        maximum: 100000
      description: Maximum number of results per page.
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Object identifier.
    AsyncMode:
      name: async_mode
      in: query
      schema:
        type: boolean
        default: false
      description: When true, the request runs asynchronously and returns an Operation.
  schemas:
    TaskSuiteBatchResult:
      type: object
      properties:
        items:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TaskSuite'
        validation_errors:
          type: object
          additionalProperties: true
    Task:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        pool_id:
          type: string
        input_values:
          type: object
          additionalProperties: true
          description: Input data matching the project's input_spec.
        known_solutions:
          type: array
          items:
            type: object
            properties:
              output_values:
                type: object
                additionalProperties: true
              correctness_weight:
                type: number
        overlap:
          type: integer
        infinite_overlap:
          type: boolean
        created:
          type: string
          format: date-time
          readOnly: true
      required:
      - pool_id
      - input_values
    TaskSuiteSearchResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TaskSuite'
        has_more:
          type: boolean
    TaskSuite:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        pool_id:
          type: string
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        overlap:
          type: integer
        infinite_overlap:
          type: boolean
        created:
          type: string
          format: date-time
          readOnly: true
      required:
      - pool_id
      - tasks
    Operation:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        type:
          type: string
          description: Operation type, e.g. POOL.OPEN, TASK.BATCH_CREATE.
        status:
          type: string
          enum:
          - PENDING
          - RUNNING
          - SUCCESS
          - FAIL
        submitted:
          type: string
          format: date-time
        started:
          type: string
          format: date-time
        finished:
          type: string
          format: date-time
        progress:
          type: integer
        parameters:
          type: object
          additionalProperties: true
        details:
          type: object
          additionalProperties: true
  securitySchemes:
    OAuthToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass your Toloka OAuth token (or API key) in the Authorization header as `Authorization: OAuth <token>` (legacy) or `Authorization: ApiKey <key>`.'
